* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #334155;
    text-decoration: none;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #F1F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d1d5db;
    width: 100%;
}

.links {
    display: flex;
    gap: 20px;
}

.primary {
    color: #334155;
}

.secondary {
    color: #64748B;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.link .icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.github {
    border-color: rebeccapurple;
    color: rebeccapurple;
}

.github:hover {
    background-color: rebeccapurple;
    color: white;
}

.linkedIn {
    border-color: blue;
    color: blue;
}

.linkedIn:hover {
    background-color: blue;
    color: white;
}

.telegram {
    border-color: orange;
    color: orange;
}

.telegram:hover {
    background-color: orange;
    color: white;
}

.line {
    width: 90%;
    border-bottom: 2px solid #d1d5db;
    margin: 20px 0;
}

.edu,
.experience,
.projects,
.skills {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: 20px 0;

}
.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 20px 0;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 20px 0;
}


.projects-row {
    flex-basis: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.experience-row {
    flex-basis: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.techSkills {
    margin-bottom: 10px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.itemSkill {
    margin: 2px;
    padding: 5px 10px;
    border: 2px solid #E2E8F0;
    border-radius: 10px;
    background-color: #E2E8F0;
    text-align: center;
}

.textItem {
    color: #64748B;
}

.projects ul,
.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 20px 0;
}

.skills-row {
    margin: 20px;
    flex-basis: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

footer {
    border-top: 2px solid #d1d5db;
    width: 100%;
    display: flex;
  justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.rs-school-logo {
    width: 75px;
}